.eldad-present {
  display: flex;
  padding: 3.5rem;
  animation-name: example;
  animation-duration: 4s;
}
.wrapper {
  display: grid;
  place-items: stretch legacy;
}

.typing-hello {
  width: 13vw;
  animation: typing 2s, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    border-right: 3px solid;
    width: 0;
  }
  to {
    border-right: 0px solid;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing {
  width: 30vw;
  animation: typingDem 4s, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typingDem {
  from {
    border-right: 3px solid;
    width: 0;
  }
  to {
    border-right: 0px solid;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-developer {
  width: 47vw;
  animation: typingDeveloper 6s, blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typingDeveloper {
  from {
    border-right: 3px solid;
    width: 0;
  }
  to {
    border-right: 0px solid;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: grid;
    place-items: center;
  }

  .typing-hello {
    width: 22vw;
    animation: typing 2s, blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
  }

  @keyframes typing {
    from {
      border-right: 3px solid;
      width: 0;
    }
    to {
      border-right: 0px solid;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .typing {
    width: 37vw;
    animation: typingDem 4s, blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
  }

  @keyframes typingDem {
    from {
      border-right: 3px solid;
      width: 0;
    }
    to {
      border-right: 0px solid;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }

  .typing-developer {
    width: 78vw;
    animation: typingDeveloper 6s, blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    font-family: monospace;
    font-size: 2em;
  }

  @keyframes typingDeveloper {
    from {
      border-right: 3px solid;
      width: 0;
    }
    to {
      border-right: 0px solid;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}


